@import url("https://fonts.googleapis.com/css?family=Istok+Web");

.title-wrapper {
  display: flex;
  justify-content: center;
  background-color: #eeccaa;
  border: solid 1px;
  margin-top: 60px;
  margin-bottom: 72px;
}

.title-text {
  vertical-align: middle;
  margin: 0;
  color: #555555;
  font-family: "Istok Web", sans-serif;
  font-size: 200px;
}

.description {
  text-align: center;
}

.description-text {
  line-height: 2em;
  font-size: 32px;
  color: #222222;
}

.start {
  border-radius: 60px;
  background-color: #eeccaa;
  margin-left: 32%;
  margin-right: 32%;
  margin-top: 72px;
}

.start:hover {
  .start-text {
    color: #888888;
  }
}

.start-text {
  text-align: center;
  color: #555555;
  font-size: 64px;
  text-decoration: none;
  padding-top: 16px;
  padding-bottom: 16px;
  margin: 0;
}
