<%= stylesheet_link_tag "landing/landing", media: "all", "data-turbolinks-track" => false %>
<div class="title-wrapper">
  <div class="title">
    <h1 class="title-text">Sotomeshi</h1>
  </div>
</div>
<div class="description">
  <article class="description-text">
  Sotomeshiは会社のメンバーで食事に行った思い出をストックしてくれるアプリです。<br>
  キズナメシで行ったところ、飲み会で行ったところなどを記録しよう！
  </article>
</div>
<div class="start">
  <h2 class="start-text"><%= link_to "はじめる", events_path, :class => 'start-text' %></h2>
</div>