// Place all the styles related to the landing controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.title {
  margin: 0 !important;
  background-color: #33ddaa;
}
.title-text {
  text-align: center;
  color: white;
  font-size: 160px;
}
.description {
  text-align: center;
}
.description-text {
  font-size: 32px;
  line-height: 2em;
  color: #222222;
}
.start {
  margin-left: 32%;
  margin-right: 32%;
  margin-top: 72px;
  background-color: #66ccaa;
  border-radius: 60px;
}
.start-text {
  padding-top: 16px;
  padding-bottom: 16px;
  text-align: center;
  color: #555555;
  font-size: 64px;
}
